In [94]:
import pandas as pd
import re

df=pd.read_csv('NorthWales.csv', skiprows=range(1))

#Convert every "No data" with value 0 since it doesn't count in the average
#df=df.replace("No data", 0)

#Rename every column like "Name.N" to "Name"
patterns=['^(Status)\.?\d*$','^(Nitrogen dioxide)\.?\d*$', '^(Nitrogen oxides as nitrogen dioxide)\.?\d*$']
new_names=['Status', 'Nitrogen dioxide', 'Nitrogen oxides as nitrogen dioxide']
rename_dict={}

for pattern, new_name in zip(patterns, new_names):
    regex_pattern=re.compile(pattern)
    matching_cols=[col for col in df.columns if regex_pattern.match(col)]
    for col in matching_cols:
        rename_dict[col]=new_name
df=df.rename(columns=rename_dict)

#Drop the Status columns since it doesnt provide further information about pollutant
df=df.drop('Status', axis=1)
#df=df.drop('Date', axis=1)
df.head()

,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured)
0,No data,No data,No data,No data,6,9,0,0.28,No data
1,No data,No data,No data,No data,12,17,1,0.25,No data
2,No data,No data,No data,No data,14,22,1,0.38,No data
3,No data,No data,No data,No data,8,15,1,0.31,No data
4,No data,No data,No data,No data,6,10,2,0.29,No data

In [108]:
#Store Date column so it can be used later
dates=df['Date']
df.drop('Date', axis=1)

#Get Nitrogen dioxide columns
nd_cols=df.filter(like="Nitrogen dioxide")
#Compute average of columns
nd_avg=nd_cols.mean(axis=1, skipna=True, numeric_only=True)
#Rename nitrogen dioxide average column
nd_avg.name="Nitrogen dioxide average"

#Replace the nitrogen dioxide columns with the average
df=df.drop(nd_cols.columns, axis=1)
df=pd.concat([df, nd_avg], axis=1)



df.head()

KeyError: 'Date'